<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sxau.agriculture.agriculture" >

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="com.sxau.agriculture.AgricultureApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity android:name="com.sxau.agriculture.view.activity.MainActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.sxau.agriculture.view.activity.BaseActivity" />
        <activity android:name="com.sxau.agriculture.view.activity.PersonalCenterActivity" />
        <activity android:name="com.sxau.agriculture.view.activity.PersonalCompile" />
        <activity android:name="com.sxau.agriculture.view.activity.InfoContentActivity" />
        <activity android:name="com.sxau.agriculture.view.activity.LoginActivity" >
        </activity>
        <activity android:name="com.sxau.agriculture.view.activity.RegisterActivity" >
        </activity>
    </application>

</manifest>
